html {
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
}

li {
    display: inline;
    padding: 0 10px;
    transition-delay: 500ms;
    transition-property: background-color;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

.navitems {
    padding: 5px;
}

.navitems:hover {
    background-color: white;
    color: #1F2937;
}

.sec1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.description {
    width: 50%; 
}

.description h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.description p {
    color: #F9FAF8;
}

img {
    padding: 1em;
    max-width: 400px;
    max-height: auto;
    object-fit: contain;
    /* border: 1px solid red; */
}